about-time==4.2.1
alive-progress==3.0.1
async-timeout==4.0.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
contourpy==1.0.7
cryptography==39.0.1
cycler==0.11.0
fonttools==4.38.0
grapheme==0.6.0
hiredis==2.2.2
idna==3.4
imageio==2.25.1
kiwisolver==1.4.4
matplotlib==3.7.0
more-itertools==8.14.0
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opencv-python-headless==4.7.0.72
packaging==23.0
Pillow==9.4.0
pptree==3.1
prettytable==3.6.0
protobuf==3.20.3
pycparser==2.21
pydantic==1.10.5
pyparsing==3.0.9
python-dateutil==2.8.2
python-ulid==1.1.0
redis==4.5.1
redis-om==0.1.2
requests==2.28.2
six==1.16.0
smartredis==0.3.1
tensorboardX==2.6
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
types-pyOpenSSL==23.0.0.3
types-redis==4.5.1.1
typing_extensions==4.5.0
urllib3==1.26.14
walrus==0.9.2
wcwidth==0.2.6
